<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <title>Main page</title>
</head>
<body>
<div class="site-header">
    <a href="/"><div class="site-name">Мониторинг угроз</div></a>
</div>
<div class="site-body">
    <div class="card card-page">
        <div class="card__content">
            <h3 class="card__name">{{ threat.name }} </h3>
            <div class="card_description"> {{ threat.escription}}</div>
            <div class="card__statistics">
                <div class="card__statistics__header">Статистика</div>
                <div class="card__statistics__item">
                    Количество обнаружений за последний год: {{ threat.count }}</div>
                <div class="card__statistics__item">
                    Средняя цена мониторинга(месяц): {{ threat.price }}
                </div>
            </div>
        </div>
        <image src="{{ threat.img_url }}" class="card__image"></image>
    </div>
</div>
</body>
</html>