<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <title>Главная</title>
</head>
<body>
<div class="site-header">
    <a href="/"><div class="site-name">Мониторинг угроз</div></a>
</div>
<div class="site-body">
    <div class="search">
        <form action="/" method="GET" class="search-form">
            <input type="text" name="threat_name" value="{{ input_value }}" class="search-bar">
            <input type="submit" value="Поиск" class="search-button">
        </form>      
        <a href="/current/{{ request_id }}"><div class="current-request">Текущая заявка ({{ current_count }})</div></a>
    </div>
    <div class="cards-list">
            {% for threat in threats %}
            <a href="/threat/{{ threat.id }}">
                <div class="card">
                    <div class="card__content card__content-request">
                        <h3 class="card__name">{{ threat.name }} </h3>
                        <div class="card_description"> {{ threat.short_description }}</div>
                    </div>
                    <image src="{{ threat.img_url }}" class="card__image"></image>
                </div>
            </a>

            {% endfor %}
        
    </div>
</div>
</body>
</html>